@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content{
    padding-top: 90px;
display: flex;
width: 100%;
justify-content: center;
}
.contentIn{
    width:80%;
    height: fit-content;
    background: #fff;
    box-shadow: 0px 4px 5.8px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.topic{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.topic label{
    padding: 20px;
    cursor: pointer;
}

.images{
    width: 100%;
    display: flex;
    margin-top: 20px;
}
.details{
    width: 70%;
}


.imgOut{
    width: 100%;
    overflow-x: hidden;
}
.imgOut .img{
    display:flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
}
.details .img .slide{
    width: 100vw;
}
.img .slide img {
    width: 100%;
}
.details .img button{
    position: absolute;
}
#prev{
    left: 0px;
}
#next{
    right: 0px;
}

.imgSelector {
    display: flex;
    margin-bottom: 20px;
}
.imgSelector .prev,.next{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}
.imgSet{
    display: flex;
    grid-gap: 10px;
   
}
.imgSet img{
    width: 6vw;
    transition: .3s;
    cursor: pointer;
}
.imgSet img:hover{
    opacity: 0.7;
}
.seller{
    border: 1px solid #ffb800;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    height: fit-content;
    margin-left: 10px;
}
.sDetail .div{
    display: flex;
}

.sDetail .div .img{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.sDetail .div .img img{
    width: 80%;
}

.name p{
    margin-left: 20px;
    margin-top: 10px;
}
.number{
    border-top: 1px solid #ffb800;
}
.number p{
    margin-top: 10px;
    cursor: pointer;
}
.number p i{
    margin-right: 10px;
}
.number p a{
   text-decoration: none;
   color: black;
}
.saveAd{
    position: absolute;
    top: 20px;
    right: 20px;
}



@media only screen and (min-width:1600px) {

    .contentIn{
        width: 60%;

    }
  
}


@media only screen and (max-width:820px) {
    .contentIn{
        width:100%;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
        padding: 20px;
    }
    .images{
        width: 100%;
        display: block;
        margin-top: 20px;
    }
    .imgSet img{
        width: 10vw;
    }
    .details{
        width: 100%;
    }
    .seller{
        margin-top: 10px;
        width: 50%;
        height: fit-content;
        margin-left: 0px;
    }
}

@media only screen and (max-width:820px) {


    .seller{
            width: 100%;
    }

}